/* projects.css */

/* Estilos gerais da página */
body {
    font-family: "Poppins", system-ui;
    background-color: #f7f7f7;
    color: #333;
    margin-top: 102px;
    padding: 0;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
}

/* Estilo dos cards de projeto */
.project-card {
    background-color: #0099ff;
    color: white;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.project-card:hover {
    transform: scale(1.05);
}

/* Estilos do formulário */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 300px;
}

form h2 {
    margin-bottom: 20px;
    color: #0099ff;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #0099ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #007acc;
}

input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    transition: border-color 0.3s ease;
}

input[type="date"]:focus {
    border-color: #0099ff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
}

